.MainRegister{
    width: 70%;
    margin: auto;
    background: rgba(0,0,0,.75);
    padding: 60px;
    color: #fff;
    font-family: sans-serif, Arial;

}
@media screen and (max-width: 500px) {
    .MainRegister{
        width: 100%;
        padding: 60px;
        margin: 0;
        height: 100%;
    }
    .containerMax{
        height: 100% !important;
    }
}